---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Image } from "@astrojs/image/components";
import projectData from "@/data/projectData.json";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import FormattedDate from "../../src/components/FormattedDate.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import getSortedTags from "@/utils/getSortedTags";

const posts = await getCollection("blog");

const tags = getSortedTags(posts).slice(0, 6);
const sortedPosts = posts
    .filter((post) => post.data.featured == true)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 5);
---

<Layout
    title={`${title} - ${SITE.title}`}
    description={`A list of posts from ${SITE.author} in ${SITE.title}`}
>
    <div
        class="main-wrapper wrap-sm grid gap-16 px-8 md:gap-24 lg:gap-32 mx-auto"
    >
        <SectionContainer class="blogs--container mt-32">
            <a
                href="/"
                class="font-medium flex no-underline text-neutral-500 mb-8"
            >
                <Icon name="ph:arrow-left-light" class="w-6 h-6 mr-4" />
                Back to home
            </a>
            
                        <h2 class="font-medium text-h4 text-neutral-500 my-4 leading-8 tracking-wide">
                            ABOUT
                        </h2>
                        <div
                        class="content text-1g md:text-1g font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter text-neutral-500 mt-1.5"
                    >
                         - あかるい日陰
                    </div>
        </SectionContainer>
    </div>
</Layout>
