---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Image } from "@astrojs/image/components";
import projectData from "@/data/projectData.json";
import FormattedDate from "../../src/components/FormattedDate.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import getSortedTags from "@/utils/getSortedTags";
---

<Layout
    title="Privacy Policy - 16g"
    description="Privacy Policy"
>
    <div
        class="main-wrapper wrap-sm grid gap-16 px-8 md:gap-24 lg:gap-32 mx-auto"
    >
        <SectionContainer class="hero--container flex flex-col gap-8 mt-32"> 
            <div class="content-container">
                <div class="page-title--content max-w-[54rem] mb-8 lg:mb-4">
                    <h2
                        class="text-h5 font-medium leading-8 lg:leading-10 tracking-wide lg:tracking-wide my-4"
                    >
                    Privacy Policy
                    </h2>
                    <span class="text-base text-neutral-500">
                    当サイトでは、以下のように個人情報保護方針を定め、ご利用になる皆様が安全にサイトを閲覧できるようその保護を推進いたします。
                    </span>

                    <h3 class="text-h5 mb-3 my-8 leading-8">
                    個人情報の管理について
                    </h3>
                    <span class="text-neutral-500">
                      <p>
                      当サイトでは、セキュリティシステムの強化、その維持や改善における必要な措置を講じ、個人の情報への不正なアクセスや、紛失、破損、改ざん、漏洩などの防止に努め、個人情報の厳重な管理を行っております。 
                      </p>
                    </span>

                    <h3 class="text-h5 mb-3 my-8 leading-8">
                    個人情報の利用目的
                    </h3>
                    <span class="text-neutral-500">
                      <p>
                      当サイトでは、メールでのお問い合わせなどの際に、名前（ハンドルネーム）、メールアドレス等の個人情報をご登録いただく場合がございます。 これらの個人情報は質問に対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、個人情報をご提供いただく際の目的以外では利用いたしません。  
                      </p>
                    </span>

                    <h3 class="text-h5 mb-3 my-8 leading-8">
                    個人情報の第三者への開示
                    </h3>
                    <span class="text-neutral-500">
                      <p>
                      当サイトでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。 
                      <ul>
                       <li> - 本人のご了解がある場合</li>
                       <li> - 法令等への協力のため、開示が必要となる場合</li>
                       <li>- 人の生命、身体、健康、財産等の重要な利益を保護するために必要な場合であって、本人の同意を取得することが困難な場合</li>
                      </ul>
                      </p>
                    </span>

                    <h3 class="text-h5 mb-3 my-8 leading-8">
                    個人情報の開示、訂正、追加、削除、利用停止
                    </h3>
                    <span class="text-neutral-500">
                      <p>
                      ご本人からの個人データの開示、訂正、追加、削除、利用停止のご希望の場合には、ご本人であることを確認させていただいた上で速やかに対応させていただきます。
                      </p>
                    </span>

                    <h3 class="text-h5 mb-3 my-8 leading-8">
                    アクセス解析ツールについて
                    </h3>
                    <span class="text-neutral-500">
                      <p>
                      当サイトでは、Googleによるアクセス解析ツール「<a href="https://www.google.com/intl/ja/analytics/index.html#?modal_active=none" target="_blank" rel="noopener">Google Analytics グーグルアナリティクス</a>」を利用しています。Googleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。Googleアナリティクスに関する詳細は<a href="https://www.google.com/analytics/terms/jp.html" target="_blank" rel="noopener">こちら</a>をご覧ください。
                      </p>
                    </span>

                    <h3 class="text-h5 mb-3 my-8 leading-8">
                    当サイトの広告について
                    </h3>
                    <span class="text-neutral-500">
                      <p>
                      <ul>
                       <li> - 第三者配信の広告サービス「<a href="https://www.google.com/adsense/start/#/?modal_active=none" target="_blank" rel="noopener">Google Adsense グーグルアドセンス</a>」を利用しています。広告配信事業者は、ユーザーの興味に応じた広告を表示するためにCookieを使用することがあります。Cookieを無効にする設定およびGoogleアドセンスに関する詳細は<a href="https://policies.google.com/technologies/ads?hl=ja" target="_blank" rel="noopener">こちら</a>をご覧ください。 </li>
                       <li> - Amazon.co.jpを宣伝し、リンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイト宣伝プログラムである「Amazonアソシエイト・プログラム」の参加者です。訪問者から情報を収集し、訪問者のブラウザにCookieを設定したり、これを認識したりする場合があります。 </li>
                       <li> - rakuten.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、楽天アフィリエイトの参加者です。  </li>
                      </ul>
                      </p>
                    </span>

                    <h3 class="text-h5 mb-3 my-8 leading-8">
                    免責事項
                    </h3>
                    <span class="text-neutral-500">
                      <p>
                      当サイトからリンクやバナーなどによって他サイトに移動された場合、移動先のサイトで提供される情報、サービス等について一切の責任を負いません。当サイトが提供するコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、情報が誤っていたり、古くなっていることもございます。当サイトに掲載された内容によって生じた損害等については一切の責任を負いかねますのでご了承ください。
                      </p>
                    </span>

                    <h3 class="text-h5 mb-3 my-8 leading-8">
                    プライバシーポリシーの変更について
                    </h3>
                    <span class="text-neutral-500">
                      <p>
                      当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直しその改善に努めます。 修正された最新のプライバシーポリシーは常に本ページにて開示されます。  
                      </p>
                    </span>

                    <span class="text-neutral-500">
                     <p class="text-sm text-right mt-8 my-8 leading-8">
                      最終更新日 2021年9月13日
                     </p>
                    </span>

                </div>
            </div>
        </SectionContainer>
    </div>
</Layout>