---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`} font-size="0.25rem">
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfSFhuznzVAg2KQUvdHSWodtmQ9eVLSxSMEyXN_lzWOHB6bxg/viewform?usp=sf_link" >
  CONTACT
  </a>
  &nbsp;/&nbsp;
  <a href="/privacy/">
  Privacy Policy
  </a>
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-1;
  }
</style>
